
body{
    /* background-color: black; */
   
    margin-right: 100px;
    margin-left: 100px;

}



#precio{
    font-size: x-large;
   }

img{
    display: block;
    margin-top: 20px;
    
}

.detalle{
    float: right;
}
