{% extends 'base.html' %}

{% block contenido %}
    <h1> MyShop </h1>

    <div>
        <form action="/filter" method="POST">
            <select name="categoria" se>
                {% for c in categories %}
                    <option value="{{ c }}">{{ c.upper()}}</option>
                {% endfor %}
                <input type="submit" value="filter">
        </form>
    </div>
    <div>
        {% for product in products %}
        <div>
            <div>
                <img src={{ url_for('static', filename=product[4])}} alt="cpu">
            </div>
            <div>
                <h3>{{ product[1] }}</h3>
                <p >{{ product[5] }}</p>
                <strong id="precio">$ {{ product[2] }}</strong>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
{% endblock contenido %}